
.navbar.bg-primary {
    background-color: #217346 !important; 
    border-bottom: 2px solid #185c37; /* Opcional: linha inferior */
}


.navbar .navbar-brand {
    color: #ffffff !important; 
    font-weight: bold; /* Opcional: texto em negrito */
}

body {
    background: linear-gradient(to bottom right, #f4fff0, #ade6b9); /* Fundo gradiente */
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #072500; 
}

form {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ao redor do formulário */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.btn-primary {
    background-color: #217346; /* Cor de fundo */
    border-color: #217346;    /* Borda */
}

.btn-primary:hover, 
.btn-primary:focus {
    background-color: #185c37; /* Cor de fundo ao passar o mouse */
    border-color: #185c37;    /* Borda ao passar o mouse */
}

button {
    font-weight: bold;
}

#status {
    color: #28a745; /* Verde */
}